<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocketIO</title>
</head>
<body>
<h1>lalala</h1>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('hello', {data: 'I\'m connected!'});
        socket.on('message', function(msg) {
            console.log(msg);
        });
        setInterval(function(data) {
          socket.emit('check-notifications', '{{ current_user.id }}');
        }, 1000);
    });
</script>
</body>
</html>